<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Ranking</title>
</head>
<body>
    <form action="{{ url_for('edit', id=book.id) }}" method="POST">
        <p>Book Name: {{ book.title }}</p>
        <p>Current Ranking: {{ book.ranking }}</p>
        <input type="hidden" name="id" value="{{ book.id }}">
        <input name="ranking" type="number" min="1" max="10" placeholder="New Ranking" required>
        <button type="submit">Change Ranking</button>
    </form>
</body>
</html>
